[Desktop Entry]
Version=1.0
Name=Admin Finder
Type=Application
Comment=Admin_finder
Terminal=true
Exec=sh -c "cd /opt/BlackGhost/Admin;perl admin.pl;${SHELL:-bash}"
Icon=elisa.png
Categories=Admin
GenericName=Admin_finder

