[Desktop Entry]
Version=1.0
Name=admin
Type=Application
Comment=admin
Terminal=true
Exec=sh -c "cd /opt/BlackGhost/Admin;perl admin.pl;${SHELL:-bash}"
Icon=elisa.png
Categories=Admin
GenericName=admin

