[Desktop Entry]
Version=1.0
Name=AP-Fucker
Type=Application
Comment=AP-Fucker by BlackGhost
Terminal=true
Exec=sh -c "cd /opt/BlackGhost;./AP_fucker.py;${SHELL:-bash}"
Icon=elisa.png
Categories=wireless
GenericName=AP-Fucker

