[Desktop Entry]
Version=1.0
Name=Server-TN
Type=Application
Comment=Server-TN by BlackGhost
Terminal=true
Exec=sh -c "cd /opt/BlackGhost/Server-Scan;python Server-TN.py;${SHELL:-bash}"
Icon=elisa.png
Categories=Server-Scan
GenericName=Server-TN

