[Desktop Entry]
Version=1.0
Name=ssl_phucker
Type=Application
Comment=ssl_phucker by BlackGhost
Terminal=true
Exec=sh -c "cd /opt/BlackGhost;./ssl_phucker.sh;${SHELL:-bash}"
Icon=elisa.png
Categories=sniffspoof
GenericName=ssl_phucker

